In [ ]:
Exploratory Data Analysis

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("scraped_bookdata.csv")
sns.set(style="whitegrid")

In [7]:
print("\n First 5 Records:")
print(df.head())

 First 5 Records:
                                   Title  Price (GBP)  Rating  \
0                   A Light in the Attic        51.77       3
1                     Tipping the Velvet        53.74       1
2                             Soumission        50.10       1
3                          Sharp Objects        47.82       4
4  Sapiens: A Brief History of Humankind        54.23       5

                Genre
0              Poetry
1  Historical Fiction
2             Fiction
3             Mystery
4             History

In [9]:
print("\n Missing Values:")
print(df.isnull().sum())

 Missing Values:
Title          0
Price (GBP)    0
Rating         0
Genre          0
dtype: int64

In [11]:
print("\n Basic Statistics:")
print(df.describe())

 Basic Statistics:
       Price (GBP)       Rating
count   1000.00000  1000.000000
mean      35.07035     2.923000
std       14.44669     1.434967
min       10.00000     1.000000
25%       22.10750     2.000000
50%       35.98000     3.000000
75%       47.45750     4.000000
max       59.99000     5.000000

In [13]:
print("\n Unique Ratings:\n")
print(df['Rating'].value_counts())

 Unique Ratings:

Rating
1    226
3    203
5    196
2    196
4    179
Name: count, dtype: int64

In [15]:
print("\n Unique Genres:\n")
print(df['Genre'].value_counts())

 Unique Genres:

Genre
Default               152
Nonfiction            110
Sequential Art         75
Add a comment          67
Fiction                65
Young Adult            54
Fantasy                48
Romance                35
Mystery                32
Food and Drink         30
Childrens              29
Historical Fiction     26
Poetry                 19
Classics               19
History                18
Horror                 17
Womens Fiction         17
Science Fiction        16
Science                14
Music                  13
Business               12
Thriller               11
Travel                 11
Philosophy             11
Humor                  10
Autobiography           9
Art                     8
Psychology              7
Religion                7
Spirituality            6
Christian Fiction       6
New Adult               6
Sports and Games        5
Biography               5
Self Help               5
Health                  4
Christian               3
Politics                3
Contemporary            3
Historical              2
Crime                   1
Erotica                 1
Cultural                1
Novels                  1
Short Stories           1
Suspense                1
Academic                1
Adult Fiction           1
Parenting               1
Paranormal              1
Name: count, dtype: int64

In [17]:
print("\n Duplicate Entries:\n")
print(df.duplicated().sum())

 Duplicate Entries:

0

In [23]:
genre_price = df.groupby('Genre')['Price (GBP)'].mean().sort_values(ascending=False)
print("\n Average Book Price by Genre:\n")
print(genre_price)

 Average Book Price by Genre:

Genre
Suspense              58.330000
Novels                54.810000
Politics              53.613333
Health                51.452500
New Adult             46.383333
Christian             42.496667
Sports and Games      41.166000
Self Help             40.620000
Travel                39.794545
Fantasy               39.593958
Art                   38.520000
Parenting             37.350000
History               37.295000
Autobiography         37.053333
Womens Fiction        36.791176
Cultural              36.580000
Classics              36.545263
Contemporary          36.200000
Fiction               36.066615
Poetry                35.974211
Horror                35.949412
Short Stories         35.880000
Add a comment         35.796418
Music                 35.636923
Young Adult           35.449074
Spirituality          35.098333
Sequential Art        34.572267
Default               34.392697
Christian Fiction     34.385000
Nonfiction            34.260182
Psychology            34.218571
Romance               33.933714
Science Fiction       33.802500
Biography             33.662000
Historical Fiction    33.644231
Philosophy            33.558182
Humor                 33.501000
Science               33.088571
Childrens             32.638276
Religion              32.567143
Business              32.460000
Mystery               31.719062
Thriller              31.433636
Food and Drink        31.414667
Historical            22.830000
Erotica               19.190000
Paranormal            15.400000
Adult Fiction         15.360000
Academic              13.120000
Crime                 10.970000
Name: Price (GBP), dtype: float64

In [25]:
print("\n Potential Outliers in Price (above £100):")
print(df[df['Price (GBP)'] > 100])

 Potential Outliers in Price (above £100):
Empty DataFrame
Columns: [Title, Price (GBP), Rating, Genre]
Index: []